@font-face {
    font-family: Montserrat;
    src: url('montserrat-light-webfont.woff2') format('woff2'),
         url('montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display：fallback;
}
*{
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(51,51,51);
	color: white;
}
/*navbar css*/
.navbar{
	opacity: 0;
	top: -60px;
	transition: all 1s ease-in;
}
/*home page css*/
.home{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(imgs/book.png);
	background-repeat: no-repeat;
	background-size: 65% 100%;
	background-color: rgb(255,255,255);
}
#loginPanel{
	float: right;
	width: 35%;
	height: 100%;
	padding: 2em;
	background-color: rgb(51,51,51);
	text-align: center;
}
#slider{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	z-index: 1;
	cursor: pointer;
	color: black;
}
#slider:hover{
	color: steelblue;
}
/*login page css*/
.loginTemplate{
	margin: 20px auto;
	padding-top: 100px;
}
/*trade page css*/
.reqme-alert{
	width: 300px;
	position: fixed;
	top: 20%;
	z-index: 1;
}
/*book list css */
#booklist{
	opacity: 0;
	transition: opacity 2s;
}
/*#booklist:hover{
	opacity: 1;
}*/
/*book item css*/
.bookTag{
	height: 30px;
	width: 100%;
	opacity: 0;
	margin: 0;
	transition: opacity 1s;
}
.bookTag:hover{
	opacity: 0.5;
	background-color: #666;
}
@media screen and (max-width: 990px){
	.bookTag{
		height: 30px;
		width: 100%;
		margin: 0;
		opacity: 0.5;
		background-color: #666;
	}
}
.thumbnail .caption{
	padding: 0;
}
.thumbnail{
	padding: 0;
}
.glyph{
	margin: 5px 10px;
	color: white;
	cursor: pointer;
}
.glyph_left{
	float: left;
}
.glyph_right{
	float: right;
}
/*publish page css*/
#isbn{
	max-width: 20%;
	min-width: 150px;
	margin: 10px 0;
}
/* alert message component css*/
.nobook-alert{
	width: 100%;
	float: left;
}
#myModal{
	position: fixed;
	border: 1px solid silver;
	border-radius: 15px;
	background-color: green;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 40px;
	width: 200px;
	height: 40px;
	top: -50px;
	left: 50%;
	opacity: 0;
	margin-left: -100px;
	z-index: 1;
	transition: all 0.8s;
}